$bg: #2e3440;
$bg-alt: #3b4252;
$fg: #d8dee9;
$fg-alt: #e5e9f0;
$red: #bf616a;
$red-alt: #c2626f;
$yellow: #ebcb8b;
$yellow-alt: #efcf8f;
$orange: #d08770;
$orange-alt: #db8a7a;
$green: #a3be8c;
$green-alt: #afbf8e;
$purple: #b48ead;
$purple-alt: #c88faf;
$blue: #5e81ac;
$blue-alt: #81a1c1;
$cyan: #88c0d0;
$cyan-alt: #8fbcbb;
$gray: #434c5e;
$gray-alt: #4c566a;
