$bg: #1e1e2e;
$bg-alt: #313244;
$fg: #6c7086;
$fg-alt: #7f849c;
$red: #f38ba8;
$red-alt: #eba0ac;
$green: #a6e3a1;
$green-alt: #94e2d5;
$yellow: #f9e2af;
$yellow-alt: #ffe8bf;
$orange: #fab387;
$orange-alt: #ffc387;
$blue: #89b4fa;
$blue-alt: #b4befe;
$purple: #cba6f7;
$purple-alt: #f5c2e7;
$cyan: #89dceb;
$cyan-alt: #74c7ec;
$gray: #45475a;
$gray-alt: #585b70;
