$bg: #181818;
$bg-alt: #252525;
$fg: #b9b9b9;
$fg-alt: #dedede;
$red: #ed4a46;
$red-alt: #ff5e56;
$green: #70b433;
$green-alt: #83c746;
$yellow: #dbb32d;
$yellow-alt: #efc541;
$orange: #e67f43;
$orange-alt: #fa9153;
$blue: #368aeb;
$blue-alt: #4f9cfe;
$purple: #a580e2;
$purple-alt: #b891f5;
$cyan: #3fc5b7;
$cyan-alt: #56d8c9;
$gray: #3b3b3b;
$gray-alt: #777777;
