$bg: #282c34;
$bg-alt: #31353f;
$another-bg-alt: #393f4a;
$fg: #abb2bf;
$fg-alt: #a5a4b5;
$red: #e86671;
$red-alt: #993939;
$yellow: #e5c07b;
$yellow-alt: #93691d;
$green: #98c379;
$green-alt: #92b472;
$purple: #c678dd;
$purple-alt: #8a3fa0;
$blue: #61afef;
$blue-alt: #73b8f1;
$gray: #5c6370;
$gray-alt: #848b98;
$orange: #d19a66;
$orange-alt: #c69460;
$cyan: #56b6c2;
$cyan-alt: #2b6f77;
